In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sgemm_product.csv')

In [3]:
df.head()

,MWG,NWG,KWG,MDIMC,NDIMC,MDIMA,NDIMB,KWI,VWM,VWN,STRM,STRN,SA,SB,Run1 (ms),Run2 (ms),Run3 (ms),Run4 (ms)
0,16,16,16,8,8,8,8,2,1,1,0,0,0,0,115.26,115.87,118.55,115.80
1,16,16,16,8,8,8,8,2,1,1,0,0,0,1,78.13,78.25,79.25,79.19
2,16,16,16,8,8,8,8,2,1,1,0,0,1,0,79.84,80.69,80.76,80.97
3,16,16,16,8,8,8,8,2,1,1,0,0,1,1,84.32,89.90,86.75,85.58
4,16,16,16,8,8,8,8,2,1,1,0,1,0,0,115.13,121.98,122.73,114.81

In [4]:
df2 = df.assign(RunMean = (df['Run1 (ms)'] + df['Run2 (ms)']  + df['Run3 (ms)']  + df['Run4 (ms)'] )/4)

In [5]:
df2.head()

,MWG,NWG,KWG,MDIMC,NDIMC,MDIMA,NDIMB,KWI,VWM,VWN,STRM,STRN,SA,SB,Run1 (ms),Run2 (ms),Run3 (ms),Run4 (ms),RunMean
0,16,16,16,8,8,8,8,2,1,1,0,0,0,0,115.26,115.87,118.55,115.80,116.3700
1,16,16,16,8,8,8,8,2,1,1,0,0,0,1,78.13,78.25,79.25,79.19,78.7050
2,16,16,16,8,8,8,8,2,1,1,0,0,1,0,79.84,80.69,80.76,80.97,80.5650
3,16,16,16,8,8,8,8,2,1,1,0,0,1,1,84.32,89.90,86.75,85.58,86.6375
4,16,16,16,8,8,8,8,2,1,1,0,1,0,0,115.13,121.98,122.73,114.81,118.6625

In [6]:
import numpy as np

In [70]:
df2.shape

(241600, 19)

In [7]:
df2 = df2.drop(columns=['Run1 (ms)','Run2 (ms)','Run3 (ms)','Run4 (ms)'])

In [8]:
df2.head()

,MWG,NWG,KWG,MDIMC,NDIMC,MDIMA,NDIMB,KWI,VWM,VWN,STRM,STRN,SA,SB,RunMean
0,16,16,16,8,8,8,8,2,1,1,0,0,0,0,116.3700
1,16,16,16,8,8,8,8,2,1,1,0,0,0,1,78.7050
2,16,16,16,8,8,8,8,2,1,1,0,0,1,0,80.5650
3,16,16,16,8,8,8,8,2,1,1,0,0,1,1,86.6375
4,16,16,16,8,8,8,8,2,1,1,0,1,0,0,118.6625

In [9]:
X = df2.iloc[:,:14]

In [10]:
X.head()

,MWG,NWG,KWG,MDIMC,NDIMC,MDIMA,NDIMB,KWI,VWM,VWN,STRM,STRN,SA,SB
0,16,16,16,8,8,8,8,2,1,1,0,0,0,0
1,16,16,16,8,8,8,8,2,1,1,0,0,0,1
2,16,16,16,8,8,8,8,2,1,1,0,0,1,0
3,16,16,16,8,8,8,8,2,1,1,0,0,1,1
4,16,16,16,8,8,8,8,2,1,1,0,1,0,0

In [11]:
y = df2['RunMean']

In [12]:
y.head()

0    116.3700
1     78.7050
2     80.5650
3     86.6375
4    118.6625
Name: RunMean, dtype: float64

In [13]:
Xnp = X.to_numpy()

In [14]:
ynp = y.to_numpy()

In [15]:
Xnp

array([[ 16,  16,  16, ...,   0,   0,   0],
       [ 16,  16,  16, ...,   0,   0,   1],
       [ 16,  16,  16, ...,   0,   1,   0],
       ...,
       [128, 128,  32, ...,   1,   0,   1],
       [128, 128,  32, ...,   1,   1,   0],
       [128, 128,  32, ...,   1,   1,   1]], dtype=int64)

In [16]:
ynp

array([116.37  ,  78.705 ,  80.565 , ...,  35.16  ,  28.4525,  17.8175])

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
X.iloc[:,:10] = StandardScaler().fit_transform(X.iloc[:,:10])

In [19]:
X.head()

,MWG,NWG,KWG,MDIMC,NDIMC,MDIMA,NDIMB,KWI,VWM,VWN,STRM,STRN,SA,SB
0,-1.516757,-1.516757,-1.210997,-0.753894,-0.753894,-0.998054,-0.998054,-1.0,-0.741449,-0.741449,0,0,0,0
1,-1.516757,-1.516757,-1.210997,-0.753894,-0.753894,-0.998054,-0.998054,-1.0,-0.741449,-0.741449,0,0,0,1
2,-1.516757,-1.516757,-1.210997,-0.753894,-0.753894,-0.998054,-0.998054,-1.0,-0.741449,-0.741449,0,0,1,0
3,-1.516757,-1.516757,-1.210997,-0.753894,-0.753894,-0.998054,-0.998054,-1.0,-0.741449,-0.741449,0,0,1,1
4,-1.516757,-1.516757,-1.210997,-0.753894,-0.753894,-0.998054,-0.998054,-1.0,-0.741449,-0.741449,0,1,0,0

In [20]:
y_mean = y.mean()

In [21]:
y_sd = y.std()

In [22]:
y = (y-y_mean)/y_sd

In [23]:
y

0        -0.274446
1        -0.376588
2        -0.371544
3        -0.355076
4        -0.268229
            ...
241595   -0.541707
241596   -0.492303
241597   -0.494676
241598   -0.512866
241599   -0.541707
Name: RunMean, Length: 241600, dtype: float64

In [24]:
Xnp = X.as_matrix()

C:\Users\saitj\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [25]:
ynp = y.as_matrix()

C:\Users\saitj\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [26]:
Xnp

array([[-1.51675724, -1.51675724, -1.2109972 , ...,  0.        ,
         0.        ,  0.        ],
       [-1.51675724, -1.51675724, -1.2109972 , ...,  0.        ,
         0.        ,  1.        ],
       [-1.51675724, -1.51675724, -1.2109972 , ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 1.12045227,  1.12045227,  0.82576574, ...,  1.        ,
         0.        ,  1.        ],
       [ 1.12045227,  1.12045227,  0.82576574, ...,  1.        ,
         1.        ,  0.        ],
       [ 1.12045227,  1.12045227,  0.82576574, ...,  1.        ,
         1.        ,  1.        ]])

In [27]:
Xnp.shape

(241600, 14)

In [28]:
ynp.shape

(241600,)

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Xnp, ynp, test_size=0.4, random_state=42)

In [30]:
n_samples, n_features = X_train.shape

In [109]:
weights = np.zeros(n_features)

In [120]:
weights = np.zeros(n_features)

bias = 0

In [31]:
for lr in [10,1,0.5,0.25,0.1,0.01,0.001,0.0001]:
    weights = np.zeros(n_features)
    bias = 0
    for i in range(0,1000):
        y_pred = np.dot(X_train, weights) + bias

        dw = (1/n_samples)*np.dot(X_train.T,(y_pred-y_train))
        db = (1/n_samples)*np.sum(y_pred-y_train)

        weights = weights - lr*dw
        bias = bias - lr*db
    y_pred_final = np.dot(X_test, weights) + bias
    MSE_train = np.mean((y_pred-y_train)**2)
    MSE = np.mean((y_pred_final-y_test)**2)
    print('For Learning Rate ' + str(lr) +' MSE is: ' +  str(MSE))
    print('For Learning Rate ' + str(lr) +' MSE_train is: ' +  str(MSE_train))

C:\Users\saitj\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:86: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

For Learning Rate 10 MSE is: nan
For Learning Rate 10 MSE_train is: nan
For Learning Rate 1 MSE is: nan
For Learning Rate 1 MSE_train is: nan
For Learning Rate 0.5 MSE is: nan
For Learning Rate 0.5 MSE_train is: nan
For Learning Rate 0.25 MSE is: nan
For Learning Rate 0.25 MSE_train is: nan

KeyboardInterrupt:

In [117]:
y_pred_final = np.dot(X_test, weights) + bias
MSE = np.mean((y_pred_final-y_test)**2)
print('For Learning Rate ' + str(lr) +' MSE is: ' +  str(MSE))

For Learning Rate 0.01 MSE is: 0.5980702467117939

In [57]:
bias = 0

In [99]:
y_pred_final = np.dot(X_test, weights) + bias

In [100]:
weights

array([ 1.52403729e+27,  5.83686880e+25, -1.12692122e+27,  8.51849482e+26,
        3.56084702e+26, -2.89397289e+25,  1.22250286e+27, -5.75386825e+26,
        7.47853991e+26, -3.80781132e+26, -5.48239446e+29, -5.49198045e+29,
       -5.47024891e+29, -5.47412651e+29])

In [101]:
y_test

array([-0.31761194,  0.09114043, -0.41061529, ...,  1.72662446,
        0.12960143, -0.2993611 ])

In [102]:
MSE = np.mean((y_pred_final-y_test)**2)

In [103]:
MSE

3.2300390231450075e+59

In [104]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)

In [105]:
y_pred1 = reg.predict(X_test)

In [106]:
MSE = np.mean((y_pred1-y_test)**2)

In [107]:
MSE

0.5977463496232024